.cart-side-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: var(--cart-side-menu-width);
  height: 100vh;
  box-sizing: border-box;
  background-color: var(--soft-white);
  translate: var(--cart-side-menu-width);
  transition:
    translate ease 0.5s,
    visibility ease 0.5s,
    opacity ease 0.5s;
  box-shadow: var(--standard-box-shadow);
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-direction: column;
}

.cart-side-menu.open {
  translate: 0;
  visibility: visible;
  opacity: 1;
}

.cart-side-menu > .header {
  display: flex;
  align-items: center;
  background-color: var(--soft-white);
  height: var(--nav-bar-height);
  padding: 1rem;
  box-sizing: border-box;
  box-shadow: var(--standard-box-shadow);
  clip-path: polygon(0 0, 100% 0, 100% 120%, 0 120%);
}

.cart-side-menu > .header .title {
  flex: 1;
  padding: 0;
  margin: 0;
  color: var(--primary-1);
  font-size: 2rem;
}

.cart-side-menu > .body {
  flex: 1;
  padding: 1rem;
  overflow-y: auto;
}

.cart-side-menu .empty-cart-message {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  color: gray;
}

.cart-side-menu .cart-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-side-menu > .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-shadow: var(--standard-box-shadow);
  clip-path: polygon(0 -20%, 100% -20%, 100% 100%, 0 100%);
}

@media (width < 690px) {
  .cart-side-menu {
    width: 100vw;
    translate: 100vw;
    left: 0;
  }

  .cart-side-menu > .header .title {
    font-size: 1.7rem;
  }
}
