.icon {
  background-color: white;
  height: 1.5rem;
  width: 1.5rem;
  mask-repeat: no-repeat;
  mask-position: center;
  display: inline-block;
}

.icon.shopping-cart {
  mask-image: url(../assets/cart-outline.svg);
}

.icon.purse {
  mask-image: url(../assets/purse.svg);
}

.icon.minus {
  mask-image: url(../assets/minus.svg);
}

.icon.plus {
  mask-image: url(../assets/plus.svg);
}

.icon.menu {
  mask-image: url(../assets/menu.svg);
}

.icon.close {
  mask-image: url(../assets/close.svg);
}
