:root {
  --primary-1: #669bbc;
  --primary-2: #003049;
  --secondary-1: #c1121f;
  --secondary-2: #780000;
  --accent: #fdf0d5;
  --soft-white: #f5f5f5;

  --nav-bar-height: 5rem;
}

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

button {
  background-color: #669bbc;
  border: none;
  cursor: pointer;
  color: white;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 7px;
  transition: background-color ease-out 0.15s;
}

button:hover {
  background-color: #003049;
}
