.nav-bar {
  display: flex;
  align-items: center;
  gap: 5rem;
  box-sizing: border-box;
  width: 100vw;
  height: var(--nav-bar-height);
  background-color: #fdf0d5;
  font-size: 2rem;
  color: #669bbc;
  padding: 0 2rem;
  position: fixed;
  top: 0;
  box-shadow: 1px 1px 12px rgb(1, 1, 1, 0.3);
}

.nav-bar .logo {
  display: flex;
  align-items: center;
}

.nav-bar .logo :first-child {
  background-color: #669bbc;
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

.nav-bar .logo :nth-child(2) {
  font-weight: bold;
}

.nav-bar .nav-links {
  flex: 1;

  display: flex;
  align-items: center;
  height: 100%;
}

.nav-bar .nav-links span {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
  transition: background-color ease 0.3s;
}

.nav-bar .nav-links a {
  text-decoration: none;
  color: #669bbc;
  position: relative;
  transition: color ease 0.3s;
}

.nav-bar .nav-links span:has(a.active) {
  background-color: #669bbc;
}

.nav-bar .nav-links a.active {
  color: white;
}

.nav-bar .nav-links a::after {
  content: "";
  width: 0%;
  height: 3px;
  border-radius: 2px;
  background-color: #669bbc;
  display: block;
  position: absolute;
  left: 50%;
  transition:
    width ease 0.3s,
    left ease 0.3s;
}

.nav-bar .nav-links a:hover::after,
.nav-bar .nav-links a.active::after {
  width: 100%;
  left: 0;
}
