.shop-page {
  display: flex;
  justify-content: center;
  padding: 2rem;
  min-height: calc(100vh - var(--nav-bar-height));
  box-sizing: border-box;
  background-color: var(--primary-1);
  margin-top: var(--nav-bar-height);
}

.shop-page .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  transition:
    opacity ease 0.3s,
    visibility ease 0.3s;
  opacity: 1;
}

.shop-page .card-list.hidden {
  opacity: 0;
  visibility: hidden;
}

@media (width < 690px) {
  .shop-page {
    padding: var(--mobile-border-padding);
  }

  .shop-page .card-list {
    gap: var(--mobile-border-padding);
  }
}
